<div id="legalBtn"></div>
<div id="legalContent">
        The NBA and individual NBA member team identifications are the intellectual property of NBA Properties, Inc. and the respective NBA member teams. (c) 2022 NBA Properties, Inc. All rights reserved.

Terms and Conditions apply.  Individuals must be 19 years of age or older to participate in online sports betting made availab
        </div>
        